<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios" class="welcome-card">
      <ion-img class="card-img" src="/assets/icon/plant.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
        <ion-card-title>Control de Hidroponia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text >
          Método de cultivo industrial de plantas que en lugar de tierra utiliza únicamente soluciones acuosas con nutrientes químicos disueltos, o con sustratos estériles (arena, grava, vidrio molido…) como soporte de la raíz de las plantas.
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Atajos</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" name="analytics"></ion-icon>
        <ion-label>Medidas Actuales</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Lorem, ipsum dolor.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Lorem, ipsum dolor.</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Lorem ipsum dolor sit amet.</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
